<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerlink="/">Vehicle Claim Management System </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        
        
          <a class="nav-link" routerLink="login" >Login</a>
        
        
          <a class="nav-link" routerLink="signup">Signup</a>
          <a class="nav-link" routerLink="registerpolicy">Policy Registration</a>
          <a class="nav-link" routerLink="policy">Policy Details</a>

          <a class="nav-link" routerLink="registerclaim">Claims Registration</a>

          <a class="nav-link" routerLink="claims">Claims Details</a>

        
      </ul>
    </div>
  </div>
</nav>