
 <div class="container">
    <div class="row g-0">
      <div class="row g-0">
        <div
          class="col text-center p-2 mb-3 rounded-3 text-black"
          style="background-color: #af9057"
        >
          <span class="fs-3">POLICIES</span>
        </div>
      </div>
  
      <div class="col">
        <table class="table table-hover text-white">
          <thead class="thead text-info" style="font-weight: 1">
            <tr>
              <th>PolicyId</th>
  
              <th>PolicyName</th>
  
              <th>PolicyAmount</th>
  
              <th>StartDate</th>
  
              <th>ExpiryDate</th>
  
              <th>VehicleId</th>
              
              <th>ComapanyId</th>
            </tr>
          </thead>
  
          <tbody class="thead text-black" style="font-weight: 1">
            <tr *ngFor="let p of obj.registerList">
              <td (click)="fillform(p.PolicyId)">{{ p.PolicyId }}</td>
  
              <td (click)="fillform(p.PolicyName)">{{ p.PolicyName }}</td>
  
              <td (click)="fillform(p.PolicyAmount)">{{ p.PolicyAmount }}</td>
  
              <td (click)="fillform(p.StartDate)">{{ p.StartDate }}</td>
  
              <td (click)="fillform(p.ExpiryDate)">{{ p.ExpiryDate }}</td>
  
              <td (click)="fillform(p.VehicleId)">{{ p.VehicleId }}</td>
  
              <td (click)="fillform(p.CompanyId)">{{ p.CompanyId }}</td>
  
              <td>
                  <button
                    type="button"
                    class="btn btn-danger rounded-5"
                    (click)="del(p.PolicyId)"
                  > <i class="fa fa-trash"></i></button>
                  <button type="submit" class="fa fa-user-circle-o red-icon" ><a (click)="fillform(p)">Edit</a> </button>
               
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
   

  -->